.app-section {
    padding: 250px 50px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1; 
    overflow: hidden; 
}


.app-card {
    background-image: url("assets/images/sfondo2.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
    max-width: 1100px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row; 
    justify-content: space-between;
    padding: 70px 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;

}


.app-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25); 
    backdrop-filter: blur(40px);      
    z-index: 0;
}

.app-card > * {
    position: relative;
    z-index: 1;
}

.app-card .card-content {
    flex-basis: 45%;
    color: var(--white);
    margin-right: 5%; 
    margin-left: 0;
}

.app-card .card-content h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: BOLD;
}

.app-card .card-content p {
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.9;
}


.app-card .app-media { 
    flex-basis: 50%;
    background: linear-gradient(135deg, #4b0082, #800080); 
    border-radius: 88px;
    width: 500px;
    height: 400px;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    overflow: hidden; 
}


.main-app-video {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-app-video video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    border-radius: 20px; 
}

@media screen and (max-width: 900px) {
    
    .app-section {
        padding: 100px 20px; 
    }

    
    .app-card {
        flex-direction: column; 
        padding: 40px 20px; 
        border-radius: 50px; 
    }

    
    .app-card .card-content {
        order: 1; 
        flex-basis: auto; 
        width: 100%; 
        margin-bottom: 30px; 
        margin-top: 0; 
        margin-right: 0; 
    }

    
    .app-card .app-media {
        order: 2; 
        flex-basis: auto; 
        width: 100%; 
        max-width: none; 
        height: auto; 
        border-radius: 50px; 
        padding-top: 80%; 
        position: relative; 
    }

    
    .main-app-video video,
    .main-app-video img { 
        width: 100%; 
        height: 100%;
        object-fit: cover; 
        display: block; 
        position: absolute; 
        top: 0; 
        left: 0;
        border-radius: 50px; 
    }
    
    .app-card .card-content h2 {
        font-size: 28px; 
        margin-bottom: 15px;
    }
    
    .app-card::before {
        border-radius: 50px;
    }
}