.end-section {
    position: relative;
    width: 100%;
    min-height: 800px; 
    background-image: url('assets/images/cta_background_stars.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    padding: 100px 20px 0 20px; 
    text-align: center; 
    z-index: 10; 
}


.end-content {
    color: var(--white); 
    max-width: 900px;
    margin-bottom: 50px; 
    z-index: 2; 
}

.end-content h2 {
    font-size: 45px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: BOLD;
    letter-spacing: -1px; 
}


.hero-buttons {
    display: flex;
    justify-content: center; 
}


.download-win-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    background-color: var(--white); 
    color: #23272A; 
    border: none; 
    border-radius: 28px; 
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    font-family: CONTENUTOCARD;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.download-win-button:hover {
    background-color: #f0f0f0; 
    color: #1A1D20;
}

.download-win-button .icon-download {
    width: 24px;
    height: 24px;
    font-size: 20px; 
}


.end-characters {
    position: absolute;
    bottom: 0; 
    width: 100%;
    max-width: 1200px; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    z-index: 1; 
}

.end-characters img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}


.end-decoration-bear {
    position: absolute;
    bottom: -85px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 250px; 
    height: auto;
    z-index: 15; 
}


.end-decoration-leaf {
    position: absolute;
    bottom: 200px; 
    left: 50%; 
    transform: translateX(-50%) translateX(25px) rotate(20deg); 
    width: 300px; 
    height: auto;
    z-index: 4; 
}



.end-decoration-bodyrobot {
    position: absolute;
    bottom: 30px; 
    left: calc(50% - 290px); 
    width: 60px; 
    height: auto;
    z-index: 3; 
}



.end-decoration-headrobot {
    position: absolute;
    left: calc(50% - 300px); 
    bottom: 70px; 
    transform: translateX(10px); 
    width: 60px; 
    height: auto;
    z-index: 4; 
}


.end-decoration-gruppo {
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 50%; 
    height: auto;
    z-index: 1; 
}


@media screen and (max-width: 900px) {
    
   
    .end-decoration-bodyrobot,
    .end-decoration-headrobot,
    .end-decoration-gruppo,
    .end-characters { 
        display: none !important;
    }

    
    .end-decoration-bear {
        width: 200px; 
        left: 50%; 
        transform: translateX(-50%); 
        top: 350px; 
        z-index: 15;
    }
    

    .end-decoration-leaf {
        display: block !important; 
        width: 200px; 
        left: 50%; 
        bottom: 208px; 
        z-index: 4; 
        transform: translateX(-50%) translateX(25px) rotate(20deg); 
    }

    
    .end-section {
        min-height: 500px; 
        padding: 50px 20px 0 20px; 
    }
    
    
    .end-content h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }
}