@font-face {
    font-family: BOLD;
    src: url(../assets/fonts/67110b10efb84547ce5e8ef7_ABCGintoDiscordNord-Bold.woff2) format("woff2");
}

@font-face {
    font-family: NAVBAR;
    src: url(../assets/fonts/67110a452ee74d65f90c1dc0_ABCGintoDiscord-Medium.woff2) format("woff2");
}

@font-face {
    font-family: CONTENUTOCARD;
    src: url(../assets/fonts/67110a451d677abf8340c6da_ABCGintoDiscord-Regular.woff2) format("woff2");
}

