
.hero-section {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 0; 
    min-height: 800px; 
}


.hero-wrapper {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 50px 50px 0; 
    width: 100%;
    position: relative;
    z-index: 10; 
}

.hero-content {
    width: auto; 
    text-align: left;
    margin-bottom: 30px;
    position: relative;
}


.hero-content article img {
    width: 500px; 
    height: 500px; 
    position: absolute;
    right: 50px; 
    bottom: 30px; 
    z-index: 10;
}
    
.hero-content h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: var(--white); 
    font-family: BOLD;
    font-weight: 700;
}

.hero-content p {
    font-size: 1.25rem;
    line-height: 1.3;
    margin-bottom: 35px;
    max-width: 500px;
    color: var(--white);
    font-family: CONTENUTOCARD;
    font-weight: 400;
}


.hero-buttons-container {
    display: flex;
    justify-content: center; 
    width: 100%;
    
}

.hero-buttons {
    display: flex;
    gap: 20px; 
    justify-content: left; 
    
}

.hero-buttons button {
    padding: 16px 32px; 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    font-size: 1.25rem;
    font-family: CONTENUTOCARD;
    font-weight: 400;
    transition: box-shadow 0.3s, transform 0.2s;
}

.download-win-button {
    background-color: var(--white);
    color: var(--dark-blue);
}

.open-browser-button {
    background-color: var(--blurple);
    color: var(--white);
}

.download-win-button:hover {
    background-color: var(--gray-dark); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.open-browser-button:hover {
    background-color: #4752C4; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.icon-download {
    margin-right: 10px;
}

.hero-illustration img {
    width: 100%;
    height: 60%;
    object-fit: contain;
    object-position: right top; 
}



@media (max-width: 1200px) {
    
    .hero-wrapper {
        max-width: 960px; 
        padding: 50px 30px 0; 
    }
    
    .hero-content {
        margin-bottom: 50px; 
    }

    .hero-content h1 {
        font-size: 3rem; 
    }

    .hero-content p {
        max-width: 450px; 
    }
    
    
    .hero-content article img {
        width: 450px; 
        height: 450px;
        right: 20px; 
        bottom: 50px;
        overflow: hidden; 
    }
}


@media (max-width: 992px) {
    
    .hero-content {
        text-align: center; 
        margin-left: auto;
        margin-right: auto;
        max-width: 90%; 
    }
    
    
    .hero-content article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        flex-wrap: wrap; 
    }
    
    
    .hero-content article img {
        position: static; 
        margin-top: 0; 
        width: 100%; 
        height: auto;
        max-width: 650px; 
        object-fit: contain;
        margin-bottom: 50px; 
        order: 1; 
    }

    
    .hero-content h1 {
        order: 2; 
        font-size: 2.8rem; 
        line-height: 1.1;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .hero-content p {
        order: 3; 
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }
    
    
    .hero-buttons {
        order: 4; 
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }
    
    
    .hero-buttons button {
        font-size: 1.1rem;
        padding: 14px 28px;
    }
}



@media (max-width: 600px) {
    
    .hero-wrapper {
        padding: 20px 15px 0;
    }
    
    .hero-content h1 {
        font-size: 2.5rem; 
        line-height: 1.2;
    }

    .hero-content p {
        font-size: 1.1rem; 
    }
    
    
    .hero-buttons {
        flex-direction: column; 
        gap: 15px;
    }

    .hero-buttons button {
        width: 100%; 
        font-size: 1.1rem;
        padding: 14px 28px;
    }
    
    .hero-content article img {
        width: 90%; 
        margin-bottom: 30px;
    }
}