.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 70px; 
    width: 100%;
    position: relative;
    z-index: 10;
}


.navbar-left {
    margin-left: auto; 
    margin-right: auto;
    text-align: center; 
    
}

.navbar-left ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center; 
    
}

.navbar-left li {
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    display: inline-block; 
    padding: 8px 11px; 
    border-radius: 16px; 
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, opacity 0.2s, padding 0.2s; 
    font-family: NAVBAR;
    font-weight: 500;
}

.navbar-left li:hover {
    color: var(--white); 
    background-color: var(--blurple);
    opacity: 1; 
    padding: 8px 11px; 
}

.navbar-right {
    flex-shrink: 0;
}

.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    align-items: center;
}


.menu-toggle {
    display: none; 
    color: var(--white);
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}


.login-button {
    background-color: #f2f4f7; 
    color: black; 
    font-family: NAVBAR;
    padding: 10px 18px; 
    border-radius: 40px;
    font-size: 14px;
    display: inline-block; 
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    opacity: 1 !important; 
}

.login-button:hover {
    background-color: var(--gray-dark); 
    color: var(--dark-blue); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}



@media (max-width: 1024px) {
    
    .navbar {
        padding: 30px 20px;
    }
    
    
    .navbar-left {
        display: none;
        margin: 0; 
    }

    
    .menu-toggle {
        display: inline-block; 
        padding: 10px;
        margin-left: 0;
    }
    
    
    .login-button {
        padding: 8px 15px;
        font-size: 13px;
    }
    
    .navbar-right ul {
        gap: 10px; 
    }
    
    
    .navbar-right {
        margin-left: auto;
    }
}



@media (max-width: 768px) {
    
    .navbar {
        padding: 20px;
    }
    
    
    .navbar-right {
        margin-left: auto; 
    }
}