.online-section {
    padding: 250px 50px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1; 
    overflow: hidden; 
}


.online-card {
    background-image: url("assets/images/sfondo2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px; 
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    padding: 70px 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    position: relative;
}


.online-card::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    box-shadow: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(40px);
    background-position: 100%;
    background-size: cover;
    border-radius: 100px;
}

.online-card > * {
    position: relative;
    z-index: 1;
}


.online-card .card-content {
    flex-basis: 45%;
    color: var(--white);
}

.online-card .card-content h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: BOLD;
}

.online-card .card-content p {
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.9;
}


.online-media {
    flex-basis: 50%;
    background: linear-gradient(135deg, #FF69B4, #8A2BE2); 
    border-radius: 88px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 500px;
    height: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.online-media video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 88px; 
    box-shadow: none;
    
    background: #101c10; 
}

@media screen and (max-width: 900px) {
    
    .online-section {
        padding: 100px 20px; 
    }

    
    .online-card {
        flex-direction: column; 
        padding: 40px 20px; 
        border-radius: 50px; 
    }

    
    .online-card .card-content {
        order: 1; 
        flex-basis: auto; 
        width: 100%; 
        margin-bottom: 30px; 
        margin-top: 0; 
    }

    
    .online-media {
        order: 2; 
        flex-basis: auto; 
        width: 100%; 
        max-width: none; 
        height: auto; 
        border-radius: 50px; 
        padding-top: 80%; 
        position: relative; 
    }

    
    .online-media video,
    .online-media img { 
        width: 100%; 
        height: 100%;
        object-fit: cover; 
        display: block; 
        position: absolute; 
        top: 0; 
        left: 0;
        border-radius: 50px; 
    }
    
    .online-card .card-content h2 {
        font-size: 28px; 
        margin-bottom: 15px;
    }
    
    .online-card::before {
        border-radius: 50px;
    }
}