.scrolling-menu-container {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: ilMattino;
    position: relative;
}

.scrolling-menu {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap;
    padding: 5px 0 0 0; 
    scrollbar-width: none; 
    padding-right: 40px;
}
.scrolling-menu::-webkit-scrollbar {
    display: none; 
}


.day-item {
    font-size: 20px; 
    padding: 10px 18px; 
    cursor: pointer;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    transition: all 0.2s ease;
    color: #999; 
    flex-shrink: 0; 
    text-wrap: nowrap;
}


.day-item.active-general {
    color: black;
    font-weight: bold;
    background-color: #e8e8e8; 
    border-right: 1px solid #ddd; 
    border-left: 1px solid #ddd;
}


.day-item.active-general:hover {
    color: black;
    background-color: #ffaa50; 
    border-color: #ffaa50;
}


.day-item:not(.active-general):hover {
    color: black; 
    background-color: #f0f0f0; 
}

.custom-scrollbar-wrapper {
    display: flex;
    align-items: center; 
    padding: 10px 0; 
}


.scroll-arrow {
    color: #b0b0b0; 
    font-size: 20px; 
    cursor: pointer;
    padding: 0 5px;
    height: 8px; 
    display: flex;
    align-items: center;
}


.progress-bar-container.custom-track {
    flex-grow: 1; 
    height: 8px; 
    background-color: transparent; 
    margin: 0 5px;
    position: relative;
    overflow: hidden;
    
}


.progress-bar.custom-thumb {
    height: 100%;
    background-color: #777; 
    width: 60%; 
    position: absolute;
    left: 0%; 
    border-radius: 5px;
}


.scrolling-menu-container {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative; 
}

.scroll-indicator.right {
    position: absolute;
    right: 0; 
    top: 20%; 
    transform: translateY(-50%); 
    color: #b0b0b0; 
    font-size: 35px;
    background-color: white;
    padding: 10px 5px 10px 10px; 
    cursor: pointer;
    z-index: 10; 
    box-shadow: -5px 0 5px -5px rgba(0,0,0,0.1); 
    transition: color 0.2s ease, background-color 0.2s ease;
}


