.streaming-section {
    padding: 250px 50px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1; 
    overflow: visible;
}

.streaming-card {
    background-image: url("assets/images/sfondo2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px; 
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    padding: 70px 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 3; 
}


.streaming-card::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    box-shadow: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(40px);
    background-position: 100%;
    background-size: cover;
    border-radius: 100px;
}

.streaming-card > * {
    position: relative;
    z-index: 4; 
}


.streaming-card .card-media {
    flex-basis: 50%;
    max-width: 500px;
    height: 400px;
    background: linear-gradient(to bottom, #175429 0%, #287a28 100%); 
    border-radius: 88px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
    padding: 0; 
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    position: relative;
    border: none; 
}


.streaming-card .card-media video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 88px; 
    box-shadow: none;
    
    background: #101c10; 
}


@media screen and (max-width: 900px) {
    
    .streaming-section {
        padding: 100px 20px; 
    }

    
    .streaming-card {
        flex-direction: column; 
        padding: 40px 20px; 
        border-radius: 50px; 
    }

    
    .streaming-card .card-content {
        order: 1; 
        flex-basis: auto; 
        width: 100%; 
        margin-bottom: 30px; 
        margin-top: 0; 
    }

    
    .streaming-card .card-media {
        order: 2; 
        flex-basis: auto; 
        width: 100%; 
        max-width: none; 
        height: auto; 
        border-radius: 50px; 
        padding-top: 80%; 
        position: relative; 
    }

    
    .streaming-card .card-media video,
    .streaming-card .card-media img { 
        width: 100%; 
        height: 100%;
        object-fit: cover; 
        display: block; 
        position: absolute; 
        top: 0; 
        left: 0;
        border-radius: 50px; 
    }
    
    .streaming-card .card-content h2 {
        font-size: 28px; 
        margin-bottom: 15px;
    }
    
    .streaming-card::before {
        border-radius: 50px;
    }
}