.col-right {
    flex-grow: 1; 
}


.col-right img {
    width: 100%;
    height: auto;
    display: block;
}

.container-text-aside{
    display: flex;
    justify-content: center;
    background-color: #2c76b4; 
    width: 100%;
    height: 32px;
    margin-top: 10px;
}

.container-text-aside span{
    font-size: 20px;
    font-family: ilMattino;
    text-align: center;
    color: white;
    
}

.container-video {
    position: relative; 
    width: 100%;
    padding-bottom: 56.25%; 
    background-color: blue;
    height: 0;
    overflow: hidden;
    margin-top: 10px;
}


.container-video video {
    width: 100%; 
    height: auto; 
    display: block;
}