.blue-banner {
    background-color: #2c76b4; 
    height: 32px; 
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
    box-sizing: border-box;
    margin: 15px 0;
}

.meteo-text-group {
    display: flex; 
    align-items: center;
    color: white;
}


.meteo-title {
    font-size: 20px;
    font-weight: bold;
    font-family: ilMattino;
    margin-right: 15px;
}


.meteo-update {
    font-size: 12px;
    height: 10px;
}


.icon-post {
    background-color: black;
    color: white;
    padding: 3px 8px; 
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px; 
    border-radius: 20px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    cursor: pointer;
}

.post-icon-svg {
    width: 13px; 
    height: 13px; 
    margin-right: 5px; 
    vertical-align: middle; 
}

.post-box {
    background-color: black;
    color: white;
    padding: 3px 8px; 
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px; 
    border-radius: 20px; 
    display: flex; 
    align-items: center; 
    justify-items: center;
    cursor: pointer;
}

@media (max-width: 768px) {

  .blue-banner {
    background-color: #2c76b4;
    padding: 8px 12px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .meteo-text-group {
    flex-direction: column;
    align-items: flex-start;
    color: white;
  }

  .meteo-title {
    font-size: 16px;
    margin: 0;
  }

  .meteo-update {
    font-size: 9px;
    opacity: 0.9;
  }

  .post-box {
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 14px;
  }
}
