.container-elements {
    display: flex; 
    gap: 10px; 
    padding: 20px; 
    align-items: center; 
}

.first-element,
.second-element,
.third-element {
    flex-grow: 1; 
    padding: 15px 30px; 
    color: white; 
    font-size: 16px; 
    font-weight: bold; 
    text-transform: uppercase; 
    font-family: Arial, sans-serif; 
    text-align: center; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: block; 
    cursor: pointer;
}
.first-element {
    background-color: red;
    padding: 15px 30px; 
}

.second-element {
    background-color: orange;
}

.third-element {
    background-color: gray;
}