.container-previsioni {
    display: flex;
    max-width: 1200px; 
    margin: 0 auto;
    background-color: rgba(219, 213, 213, 0.697);
    

}

.wrapper-previsioni{
    display: flex;
    flex-wrap: wrap;
}

.container-text {
    
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}

.container-text .titolo-inverno {
    font-size: 18px;
    color: #cc0000; 
    font-weight: bold;
    line-height: 1.3;
    margin: 0 0 15px 0; 
}


.container-text .corpo-testo {
    font-size: 14px;
    line-height: 1.5;
    margin: 0; 
}

.containet-text-separato {
    margin-top: 15px; 
    color: #007bff;
    font-size: 20px;
}



.container-firt-banner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    margin: 0 20px 0 10px;  
    border-radius: 0;
    overflow-x: auto;
    white-space: nowrap; 
    font-size: 13px;
    font-weight: 500;
}


.banner-item {
    color: #007bff; 
    padding: 10px 17px; 
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border-radius 0.2s;
    background-color: transparent;
    margin: 0; 
    border: none;
    padding-bottom: 10px; 
    border-radius: 0; 
}


.banner-item.active {
    background-color: #007bff;
    color: white;
    font-weight: 700;
    border-radius: 0 0 8px 8px; 
    margin-top: 0; 
    padding-top: 10px; 
    padding-bottom: 10px; 
}


.banner-item:hover {
    background-color: #007bff;
    color: white;
    font-weight: 700;
    border-radius: 0 0 8px 8px; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner-item.active:hover {
    cursor: default;
    background-color: #007bff;
    color: white;
    border-radius: 0 0 8px 8px;
}


.container-second-banner {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    margin: 10px 20px 0 10px; 
    font-size: 15px; 
    font-weight: 500;
    overflow-x: auto;
    white-space: nowrap;
}

.container-second-banner::-webkit-scrollbar {
    display: none;
}

.second-banner {
    color: #333; 
    padding: 8px 8px; 
    cursor: pointer;
    background-color: transparent;
    border-radius: 0; 
    transition: background-color 0.2s, color 0.2s;
    
    
}


.second-banner.active {
    background: #d8d8d8; 
    color: #333; 
    font-weight: 700;
    border-radius: 8px 8px 0 0; 
    position: relative;
    top: 1px;
    margin: 0; 
}


.second-banner:hover {
    background-color: #d8d8d8; 
    color: #333;
    font-weight: 700;
    border-radius: 8px 8px 0 0;
}


.second-banner.active:hover {
    background-color: #d8d8d8;  
    color: #333;
    cursor: default;
}


.container-image {
    width: 100%;
    padding: 0 10px 10px 10px;
}

.map-image-full {
    width: 100%;
    height: auto;
    display: block;
}

