:root{
    --navbarBackground: rgb(92, 92, 92);
    
}


body {
   
    background-image: linear-gradient(to bottom, darkturquoise, white); 
    min-height: 100vh; 
}
* {

    font-family: ilMattino;
    box-sizing: border-box;
}



.page-wrapper {
    background-color: white; 
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 0 15px;
}


ul{
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    li {
        display: flex;
        align-items: center;
        padding-inline: 5px;
        height: 100%;
        &:hover{
            background: #007AB9;
            cursor: pointer;
        }
    }
    
}


@media (max-width: 768px) {
  .page-wrapper {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .page-wrapper {
    padding: 0 6px;
  }
}
