
.flex-row {
    display: flex;
    justify-content: flex-start; 
    gap: 20px; 
    width: 100%; 
}
.col-left {
    flex: 0 0 70%; 
    width: 70%; 
    position: relative; 
}



.col-left img {
    width: 100%;
    display: block;

}


.image-container {
    position: relative; 
}


.headline-tag {
    position: absolute;
    top: 0; 
    left: 0;
    background-color: #f77f07; 
    padding: 4px 8px;
    z-index: 10; 
    color: white;
    font-weight: bold;
    display: flex; 
    align-items: center;
}

.headline-tag .page-title {
    font-size: 16px; 
    padding-right: 8px; 
}


.headline-tag .time-stamp {
    font-size: 12px; 
    height: 13px;
    font-weight: normal; 
}


.image-caption {
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0; 
    color: white;
    padding: 15px 20px; 
    font-size: 50px; 
    font-weight: bold;
    line-height: 1.0; 
    text-align: left; 
    z-index: 5;
    margin-bottom: 1800px;

    
}

.image-caption span {
    margin: 0; 
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,  
        -1px  1px 0 #000,  
         1px  1px 0 #000; 
    
    
    
}

.text-post-carousel{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;

}

.text-post-carousel span {
    font-size: 31px;
    font-family: ilMattino;
    color: rgb(174, 1, 1);
    
}